:root {
  --main-color: #212121;
  --primary-color: #757575;
  --secondary-color: #ffffff;
  --accent-color: #2196f3;
  --accent-color-2: #000000;
  --header-bgd-color: #ffffff;
  --main-bgd-color: #f5f5f5;
  --secondary-bgd-color: #f5f4fa;
  --footer-bgd-color: #2f303a;
  --btn-hover-color: #188ce8;
  --main-font: Roboto, sans-serif;
  --accent-font: Raleway, sans-serif;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;

  background-color: var(--main-bgd-color);
  color: var(--main-color);
}

/* Шапка */

.page-header {
  background-color: var(--header-bgd-color);
}

.logo {
  font-family: var(--accent-font);
  font-size: 26px;
  line-height: 1.19;

  color: var(--accent-color);
}

.studio {
  color: var(--accent-color-2);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.nav-list,
.contact-list {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link {
  color: var(--main-color);
}

.contact-link {
  color: var(--primary-color);
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus,
.nav-list .nav-link.current {
  color: var(--accent-color);
}

/* Герой */

.hero {
  background-color: var(--footer-bgd-color); /* Тимчасовий фон */
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;

  color: var(--secondary-color);
}

.button {
  border-radius: 4px;
  min-width: 152px;
  padding: 10px 32px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);
  color: var(--header-bgd-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button:hover {
  background-color: var(--btn-hover-color);
}

/* Особливості */

.features-title {
  font-size: 14px;
  line-height: 1.14;
}

.features-text {
  line-height: 1.71;

  color: var(--primary-color);
}

/* Чим ми займаємося */

.title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Наша команда */

.team {
  background-color: var(--secondary-bgd-color);
}

.team-list {
  line-height: 1.19;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
}

.team-text {
  font-size: 16px;

  color: var(--primary-color);
}

/* Футер */
.footer {
  background-color: var(--footer-bgd-color);
}

.logo > .studio-footer {
  color: var(--secondary-color);
}

.address-list {
  font-style: normal;
  line-height: 1.71;
}

.address-link {
  color: var(--secondary-color);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}
.contact {
  color: rgba(255, 255, 255, 0.6);
}

