:root {
  --main-color: #212121;
  --primary-color: #757575;
  --secondary-color: #ffffff;
  --accent-color: #2196f3;
  --accent-color-2: #000000;
  --header-bgd-color: #ffffff;
  --main-bgd-color: #f5f5f5;
  --secondary-bgd-color: #f5f4fa;
  --footer-bgd-color: #2f303a;
  --main-font: Roboto, sans-serif;
  --accent-font: Raleway, sans-serif;
}

body {
  font-family: var(--main-font);
  letter-spacing: 0.03em;

  background-color: var(--main-bgd-color);
  color: var(--main-color);
}

/* Шапка */

.page-header {
  background-color: var(--header-bgd-color);
}

.logo {
  font-family: var(--accent-font);
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  color: var(--accent-color);
}

.studio {
  color: var(--accent-color-2);
}

.nav-list,
.contact-list {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
}

.nav-item {
  color: var(--main-color);
  text-decoration: none;
}

.contact-item {
  color: var(--primary-color);
  text-decoration: none;
}

.nav-item:hover,
.nav-item:focus,
.contact-item:hover,
.contact-item:focus {
  color: var(--accent-color);
}

.nav-list .nav-item.current {
  color: var(--accent-color);
}

/* Герой */

.hero {
  background-color: var(--footer-bgd-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--secondary-color);
}

.btn {
}

/* Особливості */

.features-list {
  list-style: none;
}

.features-title {
  font-size: 14px;
  line-height: 1.14;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;

  color: var(--primary-color);
}

/* Чим ми займаємося */

.title,
.title {
  font-size: 36px;
  line-height: 1.17;
}

.work-list {
  list-style: none;
}

/* Наша команда */

.team {
  background-color: var(--secondary-bgd-color);
}

.team-list {
  list-style: none;
  line-height: 1.19;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
}

.team-text {
  font-size: 16px;

  color: var(--primary-color);
}

/* Футер */
.footer {
  background-color: var(--footer-bgd-color);
}

.logo > .studio-footer {
  color: var(--secondary-color);
}

.address-list {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  list-style: none;
}

.address-link {
  text-decoration: none;

  color: var(--secondary-color);
}

.contact {
  color: rgba(255, 255, 255, 0.6);
}

.contact:hover,
.contact:focus {
  color: var(--accent-color);
}
